.div-wrapper{
    display: flex;
    width: 800px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.flex-item{
     height: 100px;
     width: 100px;
}

.item-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.yellow{
    background-color: yellow;
    flex: 2;
    display: none;
}

.green{
    background-color: green;
    flex: 1;
    display: none;
}

.purple{
    background-color: purple;
}